---
import { LiaLaptopCodeSolid } from "react-icons/lia";
---

<html lang="en">
	<header class="flex justify-between items-center py-8">
        <p class="flex items-center font-extrabold md:text-[35px] text-[30px] logo">
            Jxvi Developer
            <LiaLaptopCodeSolid className="md:text-[40px] text-[35px] ml-2 text-[#915EFF]" />
        </p>
        <nav>
            <ul class="flex gap-6 text-[18px] font-semibold">
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
</html>