---
import { LiaLaptopCodeSolid } from "react-icons/lia";
---

	<header class="top-0 fixed left-0 right-0 w-full z-50 text-white py-4 ">
        <div class="flex justify-center items-center px-1 md:px-4 py-2 ">
            <p class="flex items-center font-extrabold md:text-[25px] mr-20">
            Jxvi Dev
            <LiaLaptopCodeSolid className="w-[20px] h-[20px] md:w-[35px] md:h-[35px] mx-2" />
        </p>
        <nav>
            <ul class="flex gap-x-3 items-center md:gap-x-6 font-bold text-[10px] md:text-[20px]">
                <li class="cursor-pointer hover:underline"><a href="#about">About me</a></li>
                <li class="cursor-pointer hover:underline"><a href="#skills">Skills</a></li>
                <li class="cursor-pointer hover:underline"><a href="#projects">Projects</a></li>
                <li class="cursor-pointer hover:underline"><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        </div>
</html>