---
import '../styles/global.css' 
import Header from '../components/headerComponent.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mi Portafolio</title>
  </head>
  <body class="bg-gray-100 text-gray-900 min-h-screen">
    <!-- Header fijo en todas las páginas -->
    <Header />

    <main class="p-6">
      <slot />
    </main>
  </body>
</html>
